doctype html
html(lang='en')
  head
    title Writing a jQuery Component

    link(rel='stylesheet', href='//yandex.st/highlightjs/8.0/styles/default.min.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  body

    ul
      li: a(href='/step0.html') Step 0
      li: a(href='/step1.html') Step 1
      li: a(href='/step2.html') Step 2
      li: a(href='/step3.html') Step 3
      li: a(href='/step4.html') Step 4

    block main

